html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: $dark;
    color: $text;

    @media screen and (min-width: 1024) {
        overflow: hidden;
    }

    @media screen and (max-width: 786) {
        font-size: 90%;
    }
}

a {
    text-decoration: none;
    color: $text;

    &:hover {
        text-decoration: underline dotted $grey 5px;
        text-underline-offset: 3px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.show {
    opacity: 1;
}

// .over-y-hidden {
//     height: 100vh;
//     overflow-y: hidden;
// }

.hide {
    opacity: 0;
    display: none;
    transition: opacity 400ms;
}