html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: $dark;
    color: $text;
    font-size: 120%;

    @media screen and (min-width: 641px) {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}