.illustration {
    align-self: flex-end;
    background-image: url('./assets/main.jpg');
    display: flex;
    width: 100%;
    height: 100%;
    /* align-self: flex-end; */
    background-image: url(/src/assets/main.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    // position: relative;

    // img {
    //   position: absolute;
    // }

    @media screen and (max-width: 1186px) {
        max-width: 300px;
        overflow-x: hidden;
    }


    @media screen and (max-width: 1024px) {
        background-image: url(/src/assets/main-slice.jpg);
        background-position: top;
        display: block;
        max-width: 100%;
        min-height: 150px;
    }

    @media screen and (max-width: 640px) {
        min-height: 80px;
        // clip: rect(0, 100px, 200px, 0);
        // overflow: hidden;
    }
}