.tooltip {
    position: relative;
    display: inline-block;

    &:hover {
        cursor: pointer;
    }
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 120px;
    background-color: $tooltip;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 14px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */

}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $tooltip transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}