@import 'colors';
@import 'general';
@import 'nav';
@import 'components';
@import 'about_section';
@import 'about_footer';
@import 'tooltip';
@import 'main_illustration';

// Main Site Container taking full width and height
#main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  // text content
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 2rem 2rem 1rem 2rem;
    padding: 2rem;

    @media screen and (max-width: 640px) {
      padding: 0;
    }

    .top-section {
      display: flex;
      flex-direction: column;
    }
  }
}