@import 'styles/colors';
@import 'styles/loader';
@import 'styles/general';
@import 'styles/nav';
@import 'styles/components';
@import 'styles/about_section';
@import 'styles/about_footer';
@import 'styles/tooltip';
@import 'styles/main_illustration';
@import 'styles/credits';
@import 'styles/animations/text';

// Main Site Container taking full width and height
#main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  // text content
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 2rem 2rem 0rem 2rem;
    padding: 2rem;
    padding-bottom: 0;

    @media screen and (max-width: 640px) {
      padding: 0;
    }

    .top-section {
      display: flex;
      flex-direction: column;
    }
  }
}