@import 'colors';
@import 'general';
@import 'nav';
@import 'components';
@import 'about_section';
@import 'about_footer';
@import 'tooltip';

// Main Site Container taking full width and height
#main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  // text content
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 2rem 2rem 1rem 2rem;
    padding: 2rem;

    .top-section {
      display: flex;
      flex-direction: column;
    }
  }

  .illustration {
    align-self: flex-end;
    background-image: url('./assets/main.jpg');
    display: flex;
    width: 100%;
    height: 100%;
    /* align-self: flex-end; */
    background-image: url(/src/assets/main.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    // position: relative;

    // img {
    //   position: absolute;
    // }

    @media screen and (max-width: 1186px) {
      max-width: 300px;
      overflow-x: hidden;
    }


    @media screen and (max-width: 1024px) {
      background-image: url(/src/assets/main-slice.jpg);
      background-position: top;
      display: block;
      max-width: 100%;
      min-height: 150px;
    }

    @media screen and (max-width: 640px) {
      // clip: rect(0, 100px, 200px, 0);
      // overflow: hidden;
    }
  }
}